* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}
a {
  text-decoration: none;
}

.container {
  width: 100%;
}

header {
  height: 52px;
  width: 100%;
  background-color: black;
}
ul.topnav {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.topnav li {
	float: left;
  height: 52px;
}
ul.topnav li a {
	display: block;
	padding:  16px;
	text-align: center;
	text-decoration: none;
	color: white;
}
ul.topnav li a:hover:not(.active) {
	background-color: #a9bce2;
}
ul.topnav li a.active {
	background-color: #da3c41;
}
ul.topnav li.right {
	float: right;
}
@media screen and (max-width: 480px) {
	ul.topnav li.right, ul.topnav li {
	   float: none;
	}
}

.top-wrapper {
  padding: 180px 0 300px 0;
  background-image: url(img/kyoto-2475666_1920.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}
.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}
@media screen and (max-width: 480px) {
	.top-wrapper h1 {
    opacity: 0.7;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
	}
}
.top-wrapper p {
  opacity: 0.7;
  font-weight: bold;
}

.lesson-wrapper {
  height: 500px;
  margin: 0 20px;
  background-color: lightgrey;
  text-align: center;
}

.heading {
  color: black;
}
.heading h2 {
  font-weight: bold;
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-top: 10px;
  padding-top: 10px;
}

.lesson {
  float: left;
  width: 25%;
}
.lesson-icon {
  position: relative;
}
.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}
img.lesson-iconbutton:hover{/*画像を押したときアクション*/
	/* 透明度を上げることで、画像の色を薄く見せる。*/
	opacity:0.5;
	/* リンクをホバーしたときのカーソルにする。*/
	cursor: pointer;
}
img.iconbutton:active{/*画像を押したときアクション*/
	/* 要素を若干下に下げることで、押した感じを出す。*/
	/* 今いる位置から相対的に3px下に配置する。*/
	position: relative;
	top: 3px;
}

.txt-contents {
  width: 100%;
  font-weight: bold;
  display: inline-block;
  margin-top: 1px;
  font-size: 12px;
  color: black;
}

.bar  {
  display: block;
  width: 98%;
  height: 2px;
  background-color: gray;
  border: 0;  /*デフォルトデザインでは線がある場合があるので、消しておく。*/
}
footer img {
  width: 125px;
}
footer p {
  color: #b3aeb5;
  font-size: 12px;
  text-align: center;
}
footer {
  text-align:center;
  padding-top: 30px;
}
